{% extends 'base.html' %} {% block content %}

<h1>Flavour Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ flavour.name }}</span>
        <p>Type: {{ flavour.type }}</p>
        <p>Description: {{ flavour.description }}</p>
        {% if flavour.rating >= 0 %}
        <p>Rating: {{ flavour.rating }}</p>
        {% else %}
        <p>Not rated yet</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'flavours_update' flavour.id %}">Edit</a>
        <a href="{% url 'flavours_delete' flavour.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_topping' flavour.id %}" method="POST">
      {% csrf_token %} {{ topping_form.as_p }}
      <input type="submit" class="btn" value="Add Topping" />
    </form>

    <table class="striped">
      <thead>
        <tr>
          <th>Topping</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for recommendedtopping in flavour.recommendedtopping_set.all %}
        <tr>
          <td>{{recommendedtopping.quantity}}</td>
          <td>{{recommendedtopping.get_topping_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr />
<div class="row">
  <div class="col s6">
    <h3>{{ flavour.name }}'s Vendors</h3>
    {% if flavour.vendors.count %} {% for vendor in flavour.vendors.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <strong>{{ vendor.name }}</strong> at 
          <span>{{ vendor.address }}</span>
        </span>
        <div class="card-action">
            <a href="{% url 'unassoc_vendor' flavour.id vendor.id%}">Remove</a>
          </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No Vendors Yet</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Toys</h3>
    {% if vendors.count %} {% for vendor in vendors.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
            <strong>{{ vendor.name }}</strong> at 
            <span>{{ vendor.address }}</span>        
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_vendor' flavour.id vendor.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{flavour.name}} Already Available at All Vendors</h5>
    {% endif %}
  </div>
</div>
<script>
  var selectEl = document.getElementById("id_topping");
  M.FormSelect.init(selectEl);
</script>
{% endblock %}
